.header {
  min-height: 60px;
  margin-bottom: 30px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
